@model Osiris.Models.Acceptance2Models
@{
    ViewBag.Title = "受付 Step2";
}
<link href="~/Content/Acceptance.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <header class="sticky-top" style="top:40px; background-color:white; padding-top:10px; padding-bottom: 1px;">
        @Html.Partial("_Header")
    </header>
    <main class="mb-5">
    </main>
}
