@model Osiris.Models.AcceptanceModels
@{
    ViewBag.Title = "受付";
}
<link href="~/Content/Acceptance.css" rel="stylesheet" />

<header class="sticky-top" style="top:50px; background-color:white;">
    @Html.Partial("_Header")
</header>

<main class="mb-5">
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
    メインコンテンツです<br>
</main>
