@model Osiris.Models.LoginModels

@{
    ViewBag.Title = "OSIRIS";
}

<link href="~/Content/Login.css" rel="stylesheet" />

@using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-signin" }))
{
<div class="wrapper">
    <div class="container">
        <h1 style="font-family: 'Source Sans Pro', sans-serif;">OSIRIS</h1>
        <input type="tel" name="ID" placeholder="ID">
        <input type="password" name="Password" placeholder="Password">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        <button type="submit" id="login-button">Login</button>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
}

<script type="text/javascript">
    $(function () {

        $("#login-button").click(function(event){
            $('form').fadeOut(300);
            $('.wrapper').addClass('form-success');
            return true;
        });
    });
</script>
