.hr-acpt {
    border-top: 4px double #0026ff;
    text-align: center;
}

    .hr-acpt:after {
        content: '受付入力';
        display: inline-block;
        position: relative;
        top: -15px;
        padding: 0 10px;
        background: #fff;
        color: #0026ff;
        font-size: 18px;
    }
